# @Author: Zhang Guohua
# @Date:   2020-04-10 14:33:20
# @Last Modified by:   zgh
# @Last Modified time: 2020-04-10 14:37:49
# @Description: create by zgh
# @GitHub: Savour Humor

* linguist-language=javascript